*{
    margin: 0;
    padding: 0;
    font-family: 'MYRIADPRO-REGULAR';
}
@font-face{
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
    font-family: 'MYRIADPRO-REGULAR';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.full{
    width: 100%;
}
.container{
    width: 82%;
    margin:0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
#magazine{
    height: 30px;
    background-color: #111111;
}
#logo{
    height: 70px;
    background-color: #f0a52b;
}
#menu{
    height: 40px;
    position: relative;
    background-color: #a70e1a;
}
#truy-cap-nhanh li{
    float: left;
    padding: 5px;    
    text-transform: uppercase; chu IN HOA  
    font-size: 8px;
}
#truy-cap-nhanh .fa-star{
    color: orange;
}
#search{
    position: relative;
}
#search .fa-search{
    position: absolute;
    top: 6px;
    left: 150px;
}
#search input{
    margin-top: 5px;
}
#logo img{
    width: 75px;
    height: 75px;
    background-color: #f0a52b;
}
#logo{
    position: relative;
}
#logo ul{
    float: right;
    position: absolute;
    top: 0px;
    left: 300px;
}
#logo ul li a,#menu ul li a,#magazine a{
    color: white;
}
#logo ul li{
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 22px;
    margin-left: 20px;
    margin-top: 10px;
}
#menu ul li{
    float: left;
    padding: 0 18px 0 18px;
    line-height: 40px;
}
#menu ul li:hover{
    background-color: #cf1323;
}
#grey{
    background-color: #f1f1f1;
    /* height: 110px; */
    text-align: center;
    padding-top: 30px;
}
#tin-tuc{
    margin-top: 10px;
    width: 720px;
}
#ads{
    margin-top: 10px;
    width: 30%;
}
#tin-nong .left{
    width: 460px;
}
#tin-nong .right{
    width: 220px;
}
#tin-lien-quan{
    border-bottom: 2px solid #f31010;
    height: 270px;
    padding-top: 20px;
}
.both{
    clear: both;
}
.p-3{
    width: 32%;
    float: left;
    margin: 2px;
}
#tin-nong{
    padding-bottom: 10px;
}
#tin-nong .left h2{
    margin: 10px 0;
}
#tin-lien-quan .p-3 img{
    width: 222px;
}
#tin-vua-len .tin-3{
    width: 720px;
    height: 190px;
    clear: both;
    border-bottom: 1px solid #c3c3c3;
    padding: 20px 0;
}
#tin-video{
    padding-top: 30px;
}
#tin-vua-len .tin-3 .right{
    width: 400px;
}
#tin-vua-len .tin-3 img{
    width: 290px;
}
#anh-to .right{
    width: 470px !important;
}
#anh-to .left img{
    width: 220px;
}
#anh-to  {
    height: 290px !important;
}
#tin-vua-len h4{
    padding-top: 10px;
}
#tin-vua-len p{
    padding-top: 10px;
}
#tin-vua-len span{
    color: rgb(109, 103, 103);
}
#tin-dang-chu-y .tin-dang-chu-y-3{
    clear: both;
    height: 150px;
    border-top: 1px solid #c3c3c3;
    padding: 20px;
}
#tin-dang-chu-y .tin-dang-chu-y-3 img{
    width: 240px;
}
#tin-dang-chu-y .tin-dang-chu-y-3 .right{
    width: 400px;
}
#tin-dang-chu-y .tin-dang-chu-y-3 .right .fa-eye{
    color:#fbb535;
    padding-top: 20px;
}
#tin-dang-chu-y .tin-dang-chu-y-3 .right .fa-facebook-square
{
    color: #5050ff;
}
#tin-dang-chu-y{
    background-color: #2b2b2b;;
    color: white;
    height: 620px;
}
#tieu-de-dang-chu-y{
    background-color: #222222;
    line-height: 40px;
    padding-left: 20px;
    border-left: 5px solid #ff8100;
}
#thong-tin{
    width: 100%;
    height: 35px;
    padding-top: 13px;
}
#thong-tin h4 {
    color: black
}
#thong-tin span
{
    color: rgb(109, 103, 103);
}
#tin-video > p{
    padding-bottom: 15px;
}
#tin-video > img{
    width: 700px;
}
#container-1{
    height: 3430px;
    border-bottom: 2px solid #000000a8;
}
#container-2{
    height: 560px;
    border-bottom: 2px solid #000000a8;
}
#container-3{
    height: 2015px;
    border-bottom: 2px solid #000000a8;
}
#container-4{
    padding-top: 30px;
    height: 400px;
    border-bottom: 2px solid #000000a8;
}
#tin-24h{
    padding-right: 30px;
}
#tin-24h .left{
    width: 30%;
    padding-right: 30px;
}
#tin-24h .left{
    padding-bottom: 20px;
}
#tin-24h .left > img{
    width: 290px;
}
#tin-24h .left h2{
    padding-left: 7px;
    border-left: 3px solid orange;
}
#tin-24h .left h3{
    height: 100px;
    border-bottom: 1px solid;
}
#tin-24h .left li{
    clear: both;
    padding-top: 10px;
}
#tin-24h .left li > p{
    width:75%;
}
#tin-24h .left li img{
    width: 65px;
    padding-right: 10px !important;
}
#tieu-de-24h{
    height: 40px;
    padding-top: 40px;
}
#tin-moi-nhat{
    width: 34%;
}
#tin-moi-nhat #tieu-de-24h .fa-clock-o{
    color: rgba(253, 143, 0, 0.856);
}
#tin-moi-nhat li .right{
    width: 260px;
    padding-right: 10px;
}
#tin-moi-nhat li {
    height: 65px;
    padding: 20px 0 10px 20px;
}
#tin-moi-nhat li .left{
    color: orange;
    border-right: 1px dotted black;
    height: 65px;
    line-height: 65px;
    padding: 0 10px;
}
#tin-moi-nhat #box-24h{
    height: 400px;
    border-radius: 10px;
    border: 2px solid #fcdab4;
    background-color: #fff9f2;
}
#box-24h img{
    padding-left: 20px;
}
#dang-duoc-quan-tam{
    width: 60%;
    background: whitesmoke;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}
#dang-duoc-quan-tam #tin-lien-quan .p-3 img{
    width: 192px;
}
#dang-duoc-quan-tam #tin-lien-quan .p-3 {
    width: 30%;
    padding-left: 12px;
}
#dang-duoc-quan-tam #tin-lien-quan h2{
    padding: 0 0 15px 15px;
}
#dang-duoc-quan-tam #tin-lien-quan .fa-free-code-camp{
    color: orangered;
}
#container-4 #tin-moi-nhat{
    padding-left: 60px;
}
#container-4 #tin-moi-nhat #box-24h{
    width: 85%;
    height: 370px;
}
#container-4 #tin-moi-nhat #box-24h h2{
    padding: 20px 15px;
}
#container-4 #tin-moi-nhat #box-24h h2 .fa-youtube-square{
    color: orangered;
}
#container-4 #tin-moi-nhat li{
    padding: 10px 0 0px 20px;
    height: auto;
}